.card {
    background:rgba(0, 0, 0, 0.562);
}

.list-group-item {
    background:rgba(0, 0, 0, 0.562);
}

.artist-name,
.genre,
.media-links {
    font-family: 'Barriecito', cursive;
}

.biography {
    font-family: 'DM Serif Text', serif;
}

.links {
    transition: all .2s ease-in-out; 
    color: white !important;
    font-size: 24px;
}

.links:hover {
    transform: scale(1.5);
    text-decoration: none;
    text-shadow: red 1px 1px 11px;
}