.event-title {
    font-family: 'Barriecito', cursive;
    text-shadow: red 1px 1px 11px;
}

.event-subtitle {
    font-family: 'Barriecito', cursive;
    
}

.event-link {
    text-decoration: none;
    color: white;
}

.event-link:hover {
    text-decoration: none;
    color: white;
}

